<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <center><img class="image" src="assets/vivian/10.jpeg" ></center>
      <h2><b>Vivian Jane Susaya Pore</b></h2>
      <h4>Studied at <strong>Eastern Visayas Eastern University Carigara-Campus</strong></h4>
      <h4>Went to <strong>Granja-Kalinawan National High School-Main Campus</strong></h4>
      <h4>Lives in <strong>Jaro,Leyte</strong></h4>
      <h4>Gender:<strong>Female</strong></h4>
      <h4>Birthday:<strong>June 16, 1999</strong></h4>
      <h4>In a Relationship</h4>
    </ion-card-content>
  </ion-card>

  
</ion-content>
