.image{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    float: center
}
h4{
    line-height: 25px;
    font-weight: 10px;
}
ion-card{
    --background:#ffb3b3 ;
}
h2{
    text-align: center;
}