<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CONTACTS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CONTACTS</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-item>
          <ion-img src="assets/vivian/icon1.png" slot="start"></ion-img>
          <ion-label>+639631872473</ion-label>
      </ion-item>
      <ion-item>
        <ion-img src="assets/vivian/icon2.png" slot="start"></ion-img>
        <ion-label>Vivian Jane Pore</ion-label>
    </ion-item>
    <ion-item>
      <ion-img src="assets/vivian/icon.jpg" slot="start"></ion-img>
      <ion-label>vJ14@gmail.com</ion-label>
  </ion-item>
  </ion-card-content>
  </ion-card>
</ion-content>
